@import "../../../styles/base/_settings.css";

.btnFilter {
  margin-right: var(--spacer);
  border: 1Px solid var(--accent-color);
  border-radius: 2px;
  background: transparent;
  padding: var(--spacer-xs) var(--spacer-sm);
  color: var(--grey-darken);

  &:focus {
    color: var(--accent-color);
  }

  &.isActive {
    border-color: transparent;
    background: var(--accent-color);
    color: #fff;
  }
}
